body {
    text-align: justify;
    margin: 0 auto;
    width: 70%;
    font-size: larger;
    font-family: 'TeX Gyre Schola';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: justify;
}

img {
    margin: 0 auto;
    display: block;
}

video {
    margin: 0 auto;
    display: block;
}

figcaption {
    text-align: center;
}

.figurelabel {
    font-weight: bold;
}

.videolabel {
    font-weight: bold;
}

.reference, .reference:visited {
    color: #9b4de4;
    text-decoration: none;
}

.example_text {
    font-weight: bold;
}

.question {
  border: 2px solid #6D6D6D;
  padding: 10px;
  margin: 50px 5px 5px 5px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px #8C8C8C44;
}

.answer {
    border: 2px solid #4779bc;
    padding: 10px;
    margin: 5px 5px 50px 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #8c8c8c44;
}

.answer_title {
    color: #4779bc;
}
